<div class="container">
            <div class="row">
                <img src="./assets/img/top_bar_1.png" style="z-index: 0" />
                <img src="./assets/img/top_bar_2.png" />
            </div>
            <div class="row">
                <h1><strong>自動マッチング</strong></h1>
                <p style="font-size: 14px;margin-top: 20px;margin-bottom: 40px"><b>プロフィールの設定に対して、マッチングしている助成金・補助金が表示されています。直接、士業に依頼することも可能です。</b></p>
            </div>
            <div class="row">
                <ul class="nav nav-tabs tab-1" style="border-bottom: 1px solid #dddddd;"> 
                    <li class="tab-style-grey">
                        <a href="#tab1" data-toggle="tab"> <b> <u>施策詳細</u></b></a>
                    </li>                     
                    <li class="tab-style-grey  active">
                        <a href="#tab2" data-toggle="tab"> <b> <u>士業詳細</u></b></a>
                    </li>                     
                </ul>
            </div>             
            <div class="row">
                <div class="col-sm-10" style="padding-right: 50px">
                    <div class="row well">
                        <div class="col-sm-4">
                            <div class="text-center">
                                <img src={{displayimageurl+F3DaehangjaData.image}} style="width: 185px;height: 145px" class="img-thumbnail">
                                <button type="button" class="btn btn-primary" style="width: 120px;margin-top: 10px">フォロー</button>
                            </div>
                        </div>
                        <div class="col-sm-8" style="padding-left: 20px">
                            <div>
                                <h4 class="text-primary"><b>{{F3DaehangjaData.displayname}}</b></h4>
                                <p>ユーザーID：{{F3DaehangjaData.user_id}}</p>
                                <p>&nbsp;</p>
                                <p>実績　　　　　：　{{F3DaehangjaData.result}}</p>
                                <p>評価　　　　　：　{{F3DaehangjaData.evaluate}}<b style="color: #d9d904">★★★★★★</b></p>
                                <p>ビデオチャット：　対応可能</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <ul class="nav nav-tabs tab-1" style="border-bottom: 1px solid #dddddd;"> 
                            <li class="tab-style-grey">
                                <a  data-toggle="tab" ng-click="onClickF3Tab()"> <b> <u>プロフィール</u></b></a>
                            </li>                             
                            <li class="tab-style-grey">
                                <a href="#tab2" data-toggle="tab"> <b> <u>ブログ</u></b></a>
                            </li>                             
                            <li class="tab-style-grey">
                                <a href="#tab3" data-toggle="tab"> <b> <u>評価・実績</u></b></a>
                            </li>                             
                            <li class="tab-style-grey active">
                                <a href="#tab4" data-toggle="tab"> <b> <u>対応可能業務</u></b></a>
                            </li>
                            <li class="tab-style-grey">
                                <a  data-toggle="tab" ng-click="onClickF6Tab()"> <b> <u>対応可能施策</u></b></a>
                            </li>                             
                        </ul>
                    </div>                     
                    <div class="row div-style-grey">
                        <h3 class="h1-left-border"><b>代行業務費用</b></h3>
                    </div>
                    <div class="row" ng-repeat="CostItem in F5RespondTask.set_cost">
                        <table class="table table-hover" style="margin-bottom: 20px;  border: 1px solid #d6d6d6;"> 
                            <tbody> 
                                <tr> 
                                    <td rowspan="8" class="text-muted div-style-blue2" style="font-size: 12px">登録内容1</td> 
                                    <td style="font-size: 12px">業務内容　　　　{{CostItem.document_business_price}}</td>
                                </tr>
                                <tr> 
                                    <td style="font-size: 12px">費用　　　　　　{{CostItem.document_business_price}}円</td>
                                </tr>
                                <tr> 
                                    <td style="font-size: 12px">着手金　　　　　なし　OR     {{CostItem.document_business_price}}円</td>
                                </tr>
                                <tr> 
                                    <td style="font-size: 12px">その他費用　　　合計     {{CostItem.document_business_price}}円</td>
                                </tr>
                                <tr> 
                                    <td style="font-size: 12px" class="text-center">合計     {{CostItem.document_business_price}}円</td>
                                </tr>
                                <tr> 
                                    <td style="font-size: 12px" class="text-center">合計     {{CostItem.document_business_price}}円</td>
                                </tr>
                                <tr> 
                                    <td style="font-size: 12px" class="text-center">合計     {{CostItem.document_business_price}}円</td>
                                </tr>
                                <tr> 
                                    <td style="font-size: 12px" class="text-center">合計     {{CostItem.document_business_price}}円</td>
                                </tr>                                 
                            </tbody>
                        </table>
                    </div>

                    <div class="row div-style-grey">
                        <h3 class="h1-left-border"><b>得意分野</b></h3>
                    </div>
                    <div class="row div-style-blue">
                        <h4 class="text-primary"><b>自己紹介</b></h4>
                        <p ng-repeat="ProPartItem in F5RespondTask.pro_part">{{ProPartItem}}</p>

                    </div>
                    <div class="row div-style-grey">
                        <h3 class="h1-left-border"><b>カテゴリー</b></h3>
                    </div>
                    <div class="row div-style-blue">
                        <p ng-repeat="CategoryItem in F5RespondTask.category_detail">{{CategoryItem[0]}}</p>

                    </div>
                    <div class="row div-style-grey">
                        <h3 class="h1-left-border"><b>カテゴリー詳細</b></h3>
                    </div>
                    <div class="row div-style-blue">
                        <p ng-repeat="CategoryItem in F5RespondTask.category_detail">{{CategoryItem[1]}}</p>
                    </div>                     
                    <div class="row div-style-grey">
                        <h3 class="h1-left-border"><b>業種</b></h3>
                    </div>
                    <div class="row div-style-blue">
                        <p>{{F5RespondTask.business_type}}</p>
                    </div>                     
                    <div class="row div-style-grey">
                        <h3 class="h1-left-border"><b>府省庁</b></h3>
                    </div>
                    <div class="row div-style-blue">
                        <p ng-repeat="AddrItem in F5RespondTask.address1">{{AddrItem}}</p>
                    </div>                     
                    <div class="row">
                        <table class="table"> 
                            <tbody>
                                <tr> </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-sm-2" style="padding-left: 5px;padding-right: 0px">
                    <p style="font-size: 14px;"> <button type="button" class="btn btn-default sidebar-btn btn-green">
                            <strong style="color:white;">依頼する</strong>
                        </button></p>
                    <p style="font-size: 14px"> <button type="button" class="btn btn-default sidebar-btn btn-grad">
                            <strong>ビデオチャット</strong>
                        </button></p>
                    <p style="font-size: 14px"> <button type="button" class="btn btn-default sidebar-btn btn-grad">
                            <strong>メッセージを送る</strong>
                        </button></p>
                    <p style="font-size: 14px"> <button type="button" class="btn btn-default sidebar-btn btn-grad">
                            <strong>別の案件を提案</strong>
                        </button></p>
                    <p style="font-size: 14px"> <button type="button" class="btn btn-default sidebar-btn btn-grad">
                            <strong>違反申告する</strong>
                        </button></p>
                    <h4 class="h1-left-border text-primary"><strong>実績サマリー</strong></h4>
                    <div class="div-style-grey text-center" style="margin-top: 10px">
                        <h6><b>評価　　　　　　　　{{F3DaehangjaData.eval1}}</b></h6>
                        <h6><b>評価数　　　　　　　{{F3DaehangjaData.eval2}}</b></h6>
                        <h6><b>良い評価率　　　　　{{F3DaehangjaData.eval_good}}</b></h6>
                    </div>
                    <h4 class="h1-left-border text-primary"><strong>認証状況</strong></h4>
                    <div class="div-style-grey text-center" style="margin-top: 10px">
                        <h6><b>本人確認　　　　　　　OK</b></h6>
                        <h6><b>機密保持　　　　　　　NG</b></h6>
                        <h6><b>電話確認　　　　　　　OK</b></h6>
                        <h6><b>士チェック　　　　　　OK</b></h6>
                    </div>
                    <h4 class="h1-left-border text-primary"><strong>仕事状況</strong></h4>
                    <div class="div-style-grey text-center" style="margin-top: 10px">
                        <h6><b>取得時期　　　　　　　即時</b></h6>
                        <h6><b>最終ログイン　　　○○日前</b></h6>
                    </div>
                </div>
            </div>
        </div>