<div class="container">
            <div class="row">
                <img src="./assets/img/top_bar_1.png" style="z-index: 0" />
                <img src="./assets/img/top_bar_2.png" />
            </div>
            <div class="row">
                <h1><strong>依頼する</strong></h1>
                <div style="    border-bottom: 1px solid #ddd;">
                    <ul class="nav nav-tabs tab-1"> 
                        <li class="tab-style-grey active">
                            <a href="#tab1" data-toggle="tab"> <b> <u>案件詳細</u></b></a>
                        </li>                         
                        <li class="tab-style-grey">
                            <a href="#tab2" data-toggle="tab"> <b> <u>依頼内容</u></b></a>
                        </li>                         
                    </ul>                     
                </div>
                <p class="text-primary" style="margin-top: 20px;">タイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルルタイトルルタイトル</p>
            </div>
            <div class="row">
                <div class="col-sm-8" style="padding-right: 30px">
                    <div class="row div-style-grey">
                        <h3 class="h1-left-border"> <b>依頼内容を入力する</b></h3>
                    </div>
                    <div class="row">
                        <table class="table table-hover table-bordered" style="margin-bottom: 10px; border: 1px solid #d6d6d6;"> 
                            <tbody> 
                                <tr> 
                                    <td rowspan="3" class="div-style-blue2 text-primary" style="font-size: 12px;width: 20%">
                                        <button type="button" class="btn-primary" style="width: 100%;margin-bottom:10px;">保存する</button>
                                        <select class="form-control"> 
                                            <option>1</option>                                             
                                            <option>2</option>                                             
                                            <option>3</option>                                             
                                        </select>
                                        <b>&nbsp;</b>
                                    </td>                                     
                                    <td style="font-size: 12px">
                                        <div class="row" style="margin-bottom: 5px;margin-top: 5px">
                                            <div class="col-sm-12">
                                                <h5> ユーザーID</h5>
                                                <p> テキストテキストテキストテキストテキテキストテキストテキストテキストテキストテキストテキストテキストテキテキストテキストテキストテキストテキテキストテキストテキストテキストテキストテキストテキストテキストテキテキストテキストテキストテキストテキテキストテキストテキストテキストテキストテキストテキストテキストテキテキストテキストテキストテキ</p>
                                                <div class="divider">
                                                    <hr class="left" />○○年○○月○○日
                                                    <hr class="right" />
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <p>テキストテキストテキストテキストテキテキストテキストテキストテキストテキストテキストテキストテキストテキテキストテキストテキストテキストテキテキスト</p>
                                            </div>
                                        </div>                                         
                                    </td>
                                </tr>                                 
                            </tbody>
                        </table>
                    </div>
                    <div class="row div-style-grey">
                        <h3 class="h1-left-border"> <b>提案内容を入力する</b></h3>
                    </div>
                    <div class="row">
                        <table class="table table-hover table-bordered" style="margin-bottom: 10px; border: 1px solid #d6d6d6;"> 
                            <tbody> 
                                <tr> 
                                    <td rowspan="3" class="div-style-blue2 text-primary" style="font-size: 12px;width: 20%">
                                        <button type="button" class="btn-primary" style="width: 100%;margin-bottom:10px;">保存する</button>
                                        <select class="form-control"> 
                                            <option value="1">1</option>                                             
                                            <option value="2">2</option>                                             
                                            <option value="3">3</option>                                             
                                        </select>
                                        <b>&nbsp;</b>
                                    </td>                                     
                                    <td style="font-size: 12px">
                                        <div class="row" style="margin-bottom: 5px;margin-top: 5px">
                                            <div class="col-sm-3">
                                                <select class="form-control"> 
                                                    <option value="1">1</option>                                                     
                                                    <option value="2">2</option>                                                     
                                                    <option value="3">3</option>                                                     
                                                </select>                                                 
                                            </div>
                                        </div>
                                        <div class="row" style="margin-bottom: 5px;margin-top: 5px">
                                            <div class="col-sm-2">
                                                <h5>業務内容</h5>
                                            </div>
                                            <div class="col-sm-10">
                                                <div class="row" style="margin-top: 5px;margin-bottom: 5px">
                                                    <div class="col-sm-3">
                                                        <input class="control-label" type="checkbox" value="">    書類代行費用                                              
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <input type="text" class="form-control" placeholder="Placeholder text"> 
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <select class="form-control"> 
                                                            <option value="1">1</option>                                                             
                                                            <option value="2">2</option>                                                             
                                                            <option value="3">3</option>                                                             
                                                        </select>                                                         
                                                    </div>
                                                </div>
                                                <div class="row" style="margin-top: 5px;margin-bottom: 5px">
                                                    <div class="col-sm-3">
                                                        <input class="control-label" type="checkbox" value="">    申請代行費用
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <input type="text" class="form-control" placeholder="Placeholder text"> 
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <select class="form-control"> 
                                                            <option value="1">1</option>                                                             
                                                            <option value="2">2</option>                                                             
                                                            <option value="3">3</option>                                                             
                                                        </select>                                                         
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-bottom: 40px;margin-top: 40px">
                                            <div class="col-sm-2">
                                                <h5>着手金</h5>
                                            </div>
                                            <div class="col-sm-10">
                                                <div class="row">
                                                    <div class="col-sm-3">
                                                        <h5>着手金</h5> 
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <input type="text" class="form-control" placeholder="Placeholder text"> 
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <input type="text" class="form-control" placeholder="Placeholder text"> 
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-bottom: 5px;margin-top: 5px">
                                            <div class="col-sm-2">
                                                <h5>その他費用</h5>
                                            </div>
                                            <div class="col-sm-10">
                                                <div class="row" style="margin-top: 5px;margin-bottom: 5px">
                                                    <div class="col-sm-3">
                                                        <h5>合計</h5> 
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <input type="text" class="form-control" placeholder="Placeholder text"> 
                                                    </div>
                                                </div>
                                                <div class="row" style="margin-top: 5px;margin-bottom: 5px">
                                                    <div class="col-sm-3">
                                                        <h5>内訳</h5> 
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <input type="text" class="form-control" placeholder="Placeholder text"> 
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <input type="text" class="form-control" placeholder="Placeholder text"> 
                                                    </div>
                                                </div>
                                                <div class="row" style="margin-top: 5px;margin-bottom: 5px">
                                                    <div class="col-sm-3"> 
</div>
                                                    <div class="col-sm-3">
                                                        <input type="text" class="form-control" placeholder="Placeholder text"> 
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <input type="text" class="form-control" placeholder="Placeholder text"> 
                                                    </div>
                                                </div>
                                                <div class="row" style="margin-top: 5px;margin-bottom: 5px">
                                                    <div class="col-sm-3"> 
</div>
                                                    <div class="col-sm-3">
                                                        <input type="text" class="form-control" placeholder="Placeholder text"> 
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <input type="text" class="form-control" placeholder="Placeholder text"> 
                                                    </div>
                                                </div>
                                                <div class="row" style="margin-top: 5px;margin-bottom: 5px">
                                                    <div class="col-sm-3"> 
</div>
                                                    <div class="col-sm-3">
                                                        <input type="text" class="form-control" placeholder="Placeholder text"> 
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <input type="text" class="form-control" placeholder="Placeholder text"> 
                                                    </div>
                                                </div>
                                                <div class="row" style="margin-top: 5px;margin-bottom: 5px">
                                                    <div class="col-sm-3"> 
</div>
                                                    <div class="col-sm-3">
                                                        <input type="text" class="form-control" placeholder="Placeholder text"> 
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <input type="text" class="form-control" placeholder="Placeholder text"> 
                                                    </div>
                                                </div>
                                                <div class="row" style="margin-top: 5px;margin-bottom: 5px">
                                                    <div class="col-sm-3"> 
</div>
                                                    <div class="col-sm-3"> 
                                                        <button type="button" class="btn btn-default btn-grad sidebar-btn">
                                                            <strong>設定を保存</strong>
                                                        </button>
                                                    </div>
                                                    <div class="col-sm-3"> 
</div>
                                                </div>
                                            </div>
                                        </div>                                         
                                    </td>
                                </tr>                                 
                            </tbody>
                        </table>
                    </div>
                    <div class="row text-center">
                        <button type="button" class="btn-primary btn btn-style-shadow-green btn-success" style="margin-right:10px;width:150px;">確認する</button>
                        <button type="button" class="btn btn-style-shadow-grey" style="width:150px;">戻る</button>
                    </div>
                </div>
                <div class="col-sm-4" style="padding-left: 5px;padding-right: 0px">
                    <div class="col-sm-12 div-style-white">
                        <label> 
                            <input class="control-label" type="checkbox" value=""> チェックした事業者に提案をする      
                        </label>
                        <button style="padding: 0 0;float:right;margin: 0 0;width: 100px;" class="btn-primary btn btn-style-shadow-green btn-success" type="button">保存する</button>
                    </div>
                    
                    <table class="table table-bordered table-hover" style="margin-bottom: 20px"> 
							<thead> 
								<tr ng-repeat="p_clientinfo in ppp_clientinfos"> 
									<th style="width: 5%;height:50px;text-align:center;vertical-align: middle;  ">
										<input class="control-label" type="checkbox" value="">
									</th>
									<th style="width: 30%;text-align:center;">
										<img src={{p_clientinfo.image}} style="width: 100%" class="img-thumbnail">
										<button type="button" class="btn-primary" style="width:100%;">保存する</button>
									</th>                                 
									<th style="width: 65%;">
										<h3 class="text-primary"> <b>{{p_clientinfo.displayname}}</b></h3>
										<h4 class="text-primary" style="font-size: 14px;"> <b>登録期間 </b>：○○○○○○○○○○○○○○○○○○</h4>
		
										<h4 class="text-primary" style="display:flex;font-size: 14px;"> <b>評価</b>： 
										<ng-rate-it ng-model="p_star" read-only="true" step="0.01"></ng-rate-it>
										</h4>
										<h4 class="text-primary" style="font-size: 14px;"> <b>実績</b>：○○<b>件</b></h4>
									</th>
								</tr>                             
							</thead>                         
						</table>
                </div>
            </div>
        </div>