<div class="row" style="margin-top: 20px;margin-bottom: 20px;border-bottom: 1px solid #dddddd;">
    <p style="font-size: 14px;"><b><span style="font-size: 15px;color: #337ab7;">STEP1</span>   対応可能施策情報の選択</b></p>
</div>
<div class="row">
    <div style="    border-bottom: 1px solid #ddd;">
        <ul class="nav nav-tabs tab-1"> 
            <li class="tab-style-grey">
                <a data-toggle="tab" ng-click="direct_set_balance()"> <b> <u>対応可能施策の登録</u></b></a>
            </li>                         
            <li class="tab-style-grey active">
                <a data-toggle="tab"> <b> <u>対応可能施策一覧</u></b></a>
            </li>                         
        </ul>                     
    </div>
</div>
<div class="row">
    <div>
        <div class="row">
            <table class="table"> 
                <tbody>
                    <tr ng-repeat="subsidyitem in C5availablesubsidyarray track by $index" ng-init="parentindex=$index" style={{C5gettableitemstyle(20*(C5pagination.current_page-1)+parentindex)}}> 
                        <td style="border-top: 0px; border-bottom: 3px solid #dddddd">
                            <h4 ng-if="subsidyitem.package_name.length!=0"><b>パッケージ名：{{subsidyitem.package_name}}</b></h4>
                            <div class="row">
                                
                                <div class="col-sm-10">
                                    <div class="col-sm-1" style="height:max-content;" ng-if="subsidyitem.package_name.length!=0">
                                        <div style="position:relative;top:50%;margin-top:-12px;">
                                            <input class="control-label" type="checkbox" ng-checked="C5existingsubsidy(20*(C5pagination.current_page-1)+parentindex)" 
                                         ng-click="C5selectsubsidy(20*(C5pagination.current_page-1)+parentindex)">
                                        </div>
                                    </div>
                                    <div class="col-sm-11">
                                        <div class="row" ng-repeat="subsidyitemsub in subsidyitem.detail track by $index">
                                            <div class="row" style="padding-left: 30px">
                                                <div class="col-sm-2" style="margin-top: 20px">
                                                    <input class="control-label" type="checkbox" style="margin-top:40px;" ng-if="subsidyitem.package_name.length==0" ng-checked="C5existingsubsidy(20*(C5pagination.current_page-1)+parentindex)"  ng-click="C5selectsubsidy(20*(C5pagination.current_page-1)+parentindex)">
                                                    <img src={{displayimageurl+subsidyitemsub.image_id}} style="width: 100px;height:100px;">
                                                </div>
                                                <div class="col-sm-10" ng-click="C6view_subsidy_detail(20*(C5pagination.current_page-1)+parentindex,$index)">
                                                    <h3 class="text-primary"><b>{{subsidyitemsub.name}}</b></h3>
                                                    <h4 class="text-primary"><b>登録期間:</b>{{subsidyitemsub.register_insti_detail}}/<b>/募集時期:</b>{{subsidyitemsub.subscript_duration}}/<b>/金額:</b>{{displayamountstringC8[subsidyitemsub.acquire_budget]}}</h4> 
                                                    <p style="font-size: 14px">{{subsidyitemsub.target}}</p>
                                                </div>
                                            </div>
                                            <div class="row" style="margin-left: 0px;margin-bottom: 20px;padding-left: 30px">
                                                <button type="button" class="btn btn-warning" style="width: 120px" ng-click="click_subsidy_put(subsidyitemsub.to_id,0)">提案を検討</button>
                                                <button type="button" class="btn btn-default btn-style-grey" style="width: 120px" ng-click="click_subsidy_put(subsidyitemsub.to_id,1)">興味あり</button>
                                                <button type="button" class="btn btn-default btn-style-grey" style="width: 120px" ng-click="click_subsidy_put(subsidyitemsub.to_id,2)">非表示</button>
                                            </div> 
                                            <div style="border-bottom: 1px solid #dddddd" ng-if="$index != subsidyitem.detail.length-1">   
                                            </div>   
                                        </div>    
                                    </div>                   
                                </div>
                                <div class="col-sm-2" style="height:max-content;">
                                    <div class="div-style-yellow text-center" style="float: right;position:relative;top:50%;margin-top:-85px;">
                                        <p>書類代行　：{{subsidyitem.detail[0].calc_business}}円</p>
                                        <p>着手金　：　{{subsidyitem.detail[0].deposit_money}}円</p>
                                        <p>その他　：　{{subsidyitem.detail[0].other_money}}円</p>
                                        <button class="btn btn-default btn-style-shadow-grey" type="button" ng-click="C5hidesubsidy(parentindex)">非表示</button>
                                    </div> 
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="text-center">
                <ul uib-pagination total-items="C5pagination.totalitem" max-size="3" ng-model="C5pagination.current_page" previous-text="前へ" next-text="次へ" first-text="最初" last-text="最後" direction-links="false" boundary-links="true" items-per-page="C5pagination.itemperpage" class="pagination-sm" boundary-link-numbers="true" rotate="true" ng-change="C5paginationchange()"></ul>
            </div>
            <div class="row col-sm-12" style="margin-top: 5px;padding-bottom: 5px;text-align:center;margin-bottom: 20px; ">
                <button type="button" class="btn btn-success btn-style-shadow-green" style="margin-right :10px;width:10%;" ng-click="C5editselectedsubsidy()">編集する</button>
                <button class="btn btn-default btn-style-shadow-grey" type="button" style="margin-right :10px;width:10%;" ng-click="C5deleteselectedsubsidy()">適用する</button>
                <button class="btn btn-default btn-style-shadow-grey" type="button" style="text-align:center;" ng-click="C5makepackageselectedsubsidy()">パッケージを作成する</button>
            </div>
        </div>
    </div>
</div>
<div class="row" style="margin-top: 20px;margin-bottom: 20px;border-bottom: 1px solid #dddddd;">
    <p style="font-size: 14px;"><b><span style="font-size: 15px;color: #337ab7;">STEP2</span>   施策対応費用の設定</b></p>
</div>
<div class="row">
    <table class="table table-hover table-bordered" style="margin-bottom: 10px; border: 1px solid #d6d6d6;"> 
        <tbody> 
            <tr> 
                <td rowspan="3" class="div-style-blue2 text-primary" style="font-size: 12px;width: 10%">
                    <button type="button" class="btn-primary" style="width: 100%;margin-bottom:10px;">保存する</button>
                    <select class="form-control"> 
                        <option value="1">1</option>                                     
                        <option value="2">2</option>                                     
                        <option value="3">3</option>                                     
                    </select>
                    <b>&nbsp;</b>
                </td>                             
                <td style="font-size: 12px">
                    <div class="col-sm-9">
                        <div class="row" style="margin-bottom: 5px;margin-top: 5px">
                            <div class="col-sm-3">
                                <select class="form-control"> 
                                    <option value="1">1</option>                                                 
                                    <option value="2">2</option>                                                 
                                    <option value="3">3</option>                                                 
                                </select>                                             
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 5px;margin-top: 5px">
                            <div class="col-sm-3">
                                <h5>業務内容</h5>
                            </div>
                            <div class="col-sm-9">
                                <div class="row" style="margin-top: 5px;margin-bottom: 5px">
                                    <div class="col-sm-4">
                                        <input class="control-label" type="checkbox" value="" ng-model="C5balancesetting.C5documentbalance">  書類代行費用 
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="number" class="form-control" placeholder="金額" ng-disabled="!C5balancesetting.C5documentbalance" ng-model="C5balancesetting.documentbalance"> 
                                    </div>
                                    <div class="col-sm-2">
                                        <select class="form-control" ng-disabled="!C5balancesetting.C5documentbalance" ng-model="C5balancesetting.documentway"> 
                                            <option value="1">円</option> 
                                            <option value="2">%</option> 
                                        </select>
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 5px;margin-bottom: 5px">
                                    <div class="col-sm-4">
                                        <input class="control-label" type="checkbox" value="" ng-model="C5balancesetting.C5applybalance">    申請代行費用
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="number" class="form-control" placeholder="金額" ng-disabled="!C5balancesetting.C5applybalance" ng-model="C5balancesetting.applybalance"> 
                                    </div>
                                    <div class="col-sm-2">
                                        <select class="form-control" ng-disabled="!C5balancesetting.C5applybalance" ng-model="C5balancesetting.applyway"> 
                                            <option value="1">円</option>                                                         
                                            <option value="2">%</option>                                                   
                                        </select>                                                     
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 40px;margin-top: 40px">
                            <div class="col-sm-3">
                                <h5>着手金</h5>
                            </div>
                            <div class="col-sm-9">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <h5>着手金</h5> 
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group has-feedback">
                                            <input type="number" class="form-control" placeholder="金額" ng-model="C5balancesetting.startbalance">
                                            <span class="form-control-feedback">円</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 5px;margin-top: 5px">
                            <div class="col-sm-3">
                                <h5>その他費用</h5>
                            </div>
                            <div class="col-sm-9">
                                <div class="row" style="margin-top: 5px;margin-bottom: 5px">
                                    <div class="col-sm-4">
                                        <h5>合計</h5> 
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group has-feedback">
                                            <input type="number" class="form-control" value={{getTotalotherbalanceC5()}} placeholder="合計金額" disabled>
                                            <span class="form-control-feedback">円</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 5px;margin-bottom: 5px" ng-repeat="otheritem in C5balancesetting.otherlist">
                                    <div class="col-sm-4">
                                        <h5 ng-if="$index==0">内訳</h5> 
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" placeholder="内訳1" ng-model="otheritem.comment"> 
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group has-feedback">
                                            <input type="number" class="form-control" placeholder="金額" ng-model="otheritem.balance">
                                            <span class="form-control-feedback">円</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 5px;margin-bottom: 5px">
                                    <div class="col-sm-4">
                                    </div>
                                    <div class="col-sm-4">
                                        <a ng-click="addotherbalanceC5()">add one more...</a>
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 5px;margin-bottom: 5px">
                                    <div class="col-sm-3"> </div>
                                    <div class="col-sm-3"> 
                                        <button type="button" class="btn btn-default btn-grad sidebar-btn">
                                            <strong>設定を保存</strong>
                                        </button>
                                    </div>
                                    <div class="col-sm-3"> </div>
                                </div>
                            </div>
                        </div>                                     
                    </div>
                </td>
            </tr>                         
        </tbody>
    </table>
</div>
<div class="row text-center">
    <button type="button" class="btn btn-success btn-style-shadow-green" style="margin-bottom: 20px; margin-right :10px;width:10%" ng-click="editbalancetosubsidyC5()">適用する</button>
</div>