<div class="row">
    <label class="container-header-pagetext">
        <strong style="color:#fff">TOPページ</strong>&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;助成金・補助金の検索</label>
    </div>
    <div class="row">
        <h1><strong>助成金・補助金の検索</strong></h1>
        <p style="font-size: 14px;margin-top: 20px;"><b>各省庁が公開している助成金・補助金の手動検索が行えます。手動検索を行い、対応可能な助成金・補助金を増やすことで、依頼数が増えます。</b></p>
    </div>
<div class="row" style="margin-top: 30px;">
    <ul class="nav nav-tabs tab-1" style="border-bottom: 1px solid #ddd;"> 
        <li class="tab-style-grey">
            <a data-toggle="tab" ng-click="addwayradiochange1(1)"><b><u>施策詳細</u></b></a>
        </li>                     
        <li class="tab-style-grey active" disabled>
            <a data-toggle="tab" ng-click="addwayradiochange1(2)"><b><u>依頼詳細</u></b></a>
        </li>                     
    </ul>
</div>
<ng-include src="inlcudeb24nhtmlpath"></ng-include>
