<div class="container">
            <div class="row">
                <img src="./assets/img/top_bar_1.png" style="z-index: 0" />
                <img src="./assets/img/top_bar_2.png" />
            </div>
            <div class="row">
                <h1><strong>違反者として申告する</strong></h1>
            </div>
            <div class="row">
                <div class="text-center col-sm-2" style="padding-left: 0px;padding-right: 25px">
                    <p style="font-size: 14px"></p>

                </div>
                <div class="col-sm-8" style="padding-right: 30px">
                    <div class="row div-style-yellow " style="border: 1px solid rgb(245,168,46);border-radius: 8px;">
                        <div style="padding : 40px 20px 40px 20px;">
                            <p><b>直接取引を禁止しています。<br>
                            当サイトでは「直接取引行為について、利用規約上禁止しております。<br>
                            当サイトを介さない直接取引を発見された場合は、サポートまでご連絡ください。<br>
                                皆様の利益を守るため、取引についてご協力いただきますようお願い申し上げます</b></p>
                        </div>                         
                    </div>
                    <div class="row">
                        <ul class="nav nav-tabs tab-1"> 
                            <li class="tab-style-grey">
</li>                             
                        </ul>
                    </div>                     
                    <div class="row div-style-grey">
                        <h3 class="h1-left-border"> <b>違反者報告をする</b></h3>
                    </div>
                    <div class="row" style="padding : 20px 30px 20px 30px;">
                        <input class="control-label" type="radio" value="0" ng-model="F15_report_option">     直接取引や勧誘
                        <br>
                        <input class="control-label" type="radio" value="1" ng-model="F15_report_option">        助成金・補助金の偽装投稿・虚偽申請の恐れ
                        <br>
                        <input class="control-label" type="radio" value="2" ng-model="F15_report_option">        記載内容と明らかに異なる内容、金額の提案
                        <br>
                        <input class="control-label" type="radio" value="3" ng-model="F15_report_option">        その他の利用規約違反の恐れ
                    </div>
                    <div class="row">
                        <table class="table table-hover table-bordered" style="margin-bottom: 10px; border: 1px solid #d6d6d6;min-height:200px"> 
                            <tbody> 
                                <tr> 
                                    <td rowspan="1" class="div-style-blue2 text-primary" style="font-size: 12px;width: 20%">
                                        <button type="button" class="btn-primary" style="width: 100%;margin-bottom:10px;">ビデオチャット</button>
                                    </td>                                     
                                    <td style="font-size: 12px">{{F15_report_message}}/{{F15_report_option}}
                                        <textarea rows="4" ng-model ="F15_report_message" style="width: 100%;"></textarea>
                                    </td>
                                </tr>                                 
                            </tbody>
                        </table>
                    </div>
                    <div class="row" style="text-align: center">
                        <button type="button" class="btn btn-success  btn-style-shadow-green" ng-click="F15Report()">申告する</button>
                    </div>
                </div>
            </div>
        </div>